<form name="attente-moderation" method="POST" netlify-honeypot="nom-complet" netlify>
  <p class="pot-de-miel">
    <input name="path" type="hidden" value="{{ page.url }}">
    <label>Votre nom complet: <input name="nom-complet"></label>
  </p>
  <p>
    <label for="nom">名前</label>
    <input type="text" name="nom" id="nom" required>
  </p>
  <p>
    <label for="email">メールアドレス</label>
    <input type="email" name="email" id="email" required>
  </p>
  <p>
    <label for="commentaire">コメント</label>
    <textarea name="commentaire" id="commentaire" required></textarea>
  </p>
  <p>
    <button type="submit" class="bouton">送る</button>
  </p>
</form>
