<a href="{{ '/' | url }}">
  <img class="junko" src="{{ '/_includes/assets/img/junko.jpg' | url }}">
</a>
<h1 class="retournons-au-logis">
  <a href="{{ '/' | url }}">{{ metadata.title }}</a>
</h1>
<p class="quelques-mots">{{ metadata.description }}</p>
<p class="legal-stuff">© CC BY-ND</p>
