<!doctype html>
<html lang="ja">

  <head>
    {% include "components/head.njk" %}
  </head>

  <body class="article">
    <div class="cadre">

        <header>
          <h1 class="retournons-au-logis">
            <a href="{{ '/' | url }}">{{ metadata.title }}</a>
          </h1>
        </header>

      <div class="defilement">
        <main>
          <article class="un-article">
            <h1 class="le-titre">{{ title }}</h1>

            <div class="le-texte">
              {{ content | safe }}
              <span class="quel-jour"> — <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></span>
            </div>
          </article>

          {% if tags %}
            <p>
            {% for tag in tags %}
              {%- if tag != "articles" -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
            </p>
          {% endif %}
        </main>

        {% include "components/comment-form.njk" %}

        <footer>
          <p class="legal-stuff"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja" target="_blank">CC BY-NC-SA 4.0</a></p>
        </footer>

      </div>
    </div>
  </body>

</html>
