<!doctype html>
<html lang="ja">

  <head>
    {% include "components/head.njk" %}
  </head>

  <body>
    <div class="cadre">

    <header>
      {% include "components/header.njk" %}
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p class="quelques-mots">{{ metadata.description }}</p>
      <p class="legal-stuff"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja" target="_blank">© CC BY-NC-SA 4.0</a></p>
    </footer>
    <!-- Current page: {{ page.url | url }} -->

    </div>
  </body>

</html>
