<!doctype html>
<html lang="ja">

  <head>
    {% include "components/head.njk" %}
  </head>

  <body>

    <header>
      {% include "components/header.njk" %}
    </header>

    <main>
      {{ content | safe }}
    </main>

    <!-- Current page: {{ page.url | url }} -->
  </body>

</html>
