---
layout: layouts/base.njk
---

<article class="un-article">
  <h1 class="le-titre">{{ title }}</h1>
  <p>
    <time class="quel-jour" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </p>

  {{ content | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "articles" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

  <div  class="les-commentaires">
    {% include "components/comments.njk" %}

    {% if commentsClosed != true %}
      {% include "components/comment-form.njk" %}
    {% else %}
      <div class="commentaires-clos">
        <p>Comments on this page are now closed.</p>
      </div>
    {% endif %}
  </div>

</article>
