@charset "utf-8";

@import "_include-media.scss";
$breakpoints: (w320: 320px, w480: 480px, w640: 640px, w768: 768px, w960: 960px);

@font-face {
  font-family: mushin;
  src: url("/_includes/assets/mushin-custom.ttf") format("opentype");
}

* {
  box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
hr, dl, dd,
ol, ul, figure {
  padding: 0;
  margin: 0;
}


/*
p:last-child {
  margin-bottom: 0;
}
main :first-child {
  margin-top: 0;
}
*/

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: azure;
  @include media(">768px") {
    background-image: url("/_includes/assets/img/lin-bleu.jpg");
  }
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, "游ゴシック", "游ゴシック体", YuGothic, "Yu Gothic", Osaka, "ＭＳ ゴシック", "MS Gothic", "ＭＳ Ｐゴシック", "MS PGothic", "TakaoExゴシック", TakaoExGothic, MotoyaLCedar, "Droid Sans Japanese", "メイリオ", Meiryo, sans-serif;
}

div.cadre {
  @include media(">768px") {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    @include media(">=1100px") {
      width: 800px;
    }
    @include media(">=768px", "<1100px") {
      width: 640px;
    }
    overflow-y: auto;
    border-radius: 25px;
    border: 1px solid hsl(93, 90%, 23%);
    background-color: azure;
    padding: 20px;
    box-shadow: 1px 1px 15px hsl(0, 0%, 10%);
  }
}

header {
  @include media(">=768px") {
    margin: 20px 0;
  }
  @include media("<768px") {
    margin: 10px 0;
  }
}
div.titre-et-photo {
  text-align: right;
  margin-right: 15px;
}
h1.retournons-au-logis {
  font-family: mushin;
  font-weight: 400;
  @include media(">=768px") {
    font-size: 3.5rem;
  }
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
}
h1.retournons-au-logis a {
  color: hsl(93, 90%, 23%);
  text-decoration: none;
}
img.junko {
  @include media(">=768px") {
    width: 100px;
  }
  @include media("<768px") {
    width: 60px;
  }
  display: inline-block;
  border-radius: 50%;
}

main {
  letter-spacing: 0.05rem;
  @include media(">=768px") {
    width: 37rem;
  }
  @include media(">=640px", "<768px") {
    width: 37rem;
  }
  @include media("<640px") {
    width: 90%;
  }
  margin: auto;
  padding-top: 20px;
}
.la-liste {
  list-style: none;
  padding-left: 0;
  margin: 0;
  .une-entree {
    margin-bottom: 2.2rem;
  }
  .le-chemin {
    font-weight: 400;
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
    padding: 0.1rem;
    margin: 0.6rem 0;
  }
  .mise-en-bouche {
    display: inline;
    line-height: 1.5;
  }
  .quel-jour {
    font-size: 0.95rem;
    font-family: mushin;
    color: hsl(93, 90%, 23%);
  }
}

.article {
  header {
    margin-top: 0;
  }
  h1.retournons-au-logis {
    display: block;
    font-size: 1.6rem;
    text-align: right;
  }
  article.un-article {
    h1.le-titre {
      font-weight: 400;
      font-size: 2.5rem;
      display: inline-block;
      margin-bottom: 1rem;
    }
    div.le-texte {
      p {
        line-height: 1.5;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      h2 {
      }
      p:last-of-type {
        display: inline;
      }
    }
    span.quel-jour {
      font-size: 0.9rem;
      font-family: mushin;
      color: hsl(93, 90%, 23%);
      display: inline-block;
    }
  }
}


form {
  margin: 1rem 0;
  .pot-de-miel {
    visibility: hidden;
    height: 1px;
    overflow: none;
  }
  label {
    display: block;
    margin: 0.7rem 0 0.2rem;
  }
  button {
    margin: 0.7rem 0;
  }
}


footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 70%;
  transform: translate(-50%);
  background-color: azure;
  border-top: 1px solid hsl(0, 0%, 40%);
  padding-top: 0.3rem;
  p {
    @include media(">=1100px") {
      width: 80%;
    }
    margin: 0 auto 0.5rem;
    font-size: 0.8rem;
    color: hsl(0, 0%, 40%);
  }
  p.legal-stuff {
    text-align: right;
    font-size: 0.7rem;
    a {
      color: darkgrey;
      text-decoration: none;
      font-style: italic;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
