<form method="POST" action="https://api.staticman.net/v3/entry/github/miscellanea-gh/blog-j-11ty-ntfy-gh/master/comments">
  <!-- <input name="options[redirect]" type="hidden" value="https://abejunko.jp"> -->
  <input name="options[slug]" type="hidden" value="{{ page.url | removeFirstSlash }}">
  <label><input name="fields[nom]" type="text" required>名前</label>
  <label><input name="fields[email]" type="email" required>メールアドレス</label>
  <label><textarea name="fields[message]" required></textarea>コメント</label>

  <button type="submit">送る</button>
</form>
